.email-link {
  text-decoration: none;
}
.img {
  background-color:#0D6EFD;
  display: flex;
  align-items: center;
  color: azure;
  height: 7rem;
}
.card-body {
  width: 23rem;
}

.img-div {

  margin-bottom: 0.5rem;
  width: 6rem;
  height: 6rem;
}